const Controller = require('egg').Controller;
const {
    Route,
    HttpGet,
    HttpPost,
    HttpAll,
    Middleware
} = require('egg-decorator-router')

module.exports = app => {
    @Route('{{ dirPath.replaceAll('\\','/') | replace(rootPath.replaceAll('\\','/')+'/app/controller', "") }}/{{ fileName }}')
    class {{ ModuleName }}Controller extends Controller {
        {% if -1 == filePath.replaceAll('\\','/').indexOf('/api/') %}
        @HttpGet('/')
        async index() {
            const {
                ctx,
                service
            } = this;
            await ctx.render('{{ dirPath.replaceAll('\\','/') | replace(rootPath.replaceAll('\\','/')+'/app/controller', "") }}/{{ fileName }}')
        }
        {% endif %}    
    }

    return {{ ModuleName }}Controller;
}
