/*
 * @Description: ${functionName}服务层
 * @Author: ${author}
 * @Date: ${datetime}
 */

const Service = require('egg').Service;

class ${ClassName}Service extends Service {

  /**
   * 查询${functionName}列表
   * @param {object} values - 分页参数
   * @param {object} params - 查询参数
   * @return {object} 查询结果
   */
  async select${ClassName}List(values, params) {
    const { ctx } = this;
    
    const result = await ctx.service.db.mysql.ruoyi.${className}Mapper.select${ClassName}List(
      values,
      params
    );
    
    return result;
  }

  /**
   * 查询${functionName}详情
   * @param {${pkColumn.javaType}} ${pkColumn.javaField} - ${pkColumn.columnComment}
   * @return {object} ${functionName}信息
   */
  async select${ClassName}By${pkColumn.capJavaField}(${pkColumn.javaField}) {
    const { ctx } = this;
    
    const result = await ctx.service.db.mysql.ruoyi.${className}Mapper.select${ClassName}By${pkColumn.capJavaField}([${pkColumn.javaField}]);
    
    return result[0] || null;
  }

  /**
   * 新增${functionName}
   * @param {object} data - ${functionName}信息
   * @return {object} 新增结果
   */
  async insert${ClassName}(data) {
    const { ctx } = this;
    
    const result = await ctx.service.db.mysql.ruoyi.${className}Mapper.insert${ClassName}([data]);
    
    return { code: 200, msg: '新增成功', data: result };
  }

  /**
   * 修改${functionName}
   * @param {object} data - ${functionName}信息
   * @return {object} 修改结果
   */
  async update${ClassName}(data) {
    const { ctx } = this;
    
    const result = await ctx.service.db.mysql.ruoyi.${className}Mapper.update${ClassName}([data]);
    
    return { code: 200, msg: '修改成功', data: result };
  }

  /**
   * 删除${functionName}
   * @param {array} ${pkColumn.javaField}s - ${pkColumn.columnComment}数组
   * @return {object} 删除结果
   */
  async delete${ClassName}By${pkColumn.capJavaField}s(${pkColumn.javaField}s) {
    const { ctx } = this;
    
    const result = await ctx.service.db.mysql.ruoyi.${className}Mapper.delete${ClassName}By${pkColumn.capJavaField}s([${pkColumn.javaField}s]);
    
    return { code: 200, msg: '删除成功', data: result };
  }
}

module.exports = ${ClassName}Service;

